html, body {
  margin: 0;
  padding: 0;
  font-family: Sofia;
  scroll-behavior: smooth !important;
  /* height: 100%; */
  /* background-color: blanchedalmond; */
}

::selection {
  color: #ffffff;
  background-color: #8501e1;
}

p, h1, h2 {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "SG-Black25";
  src: url('../public/fonts/SharpGrotesk-Black25.otf');
}
@font-face {
  font-family: "SG-Black20";
  src: url('../public/fonts/SharpGrotesk-Black20.otf');
}
@font-face {
  font-family: "SofiaExtraLight";
  src: url('../public/fonts/Sofia-Pro-ExtraLight\ Az.otf');
}
@font-face {
  font-family: "SofiaLight";
  src: url('../public/fonts/Sofia-Pro-Light.otf');
}
@font-face {
  font-family: "Sofia";
  src: url('../public/fonts/Sofia-Pro-Regular.otf');
}
@font-face {
  font-family: "SofiaBold";
  src: url('../public/fonts/Sofia-Pro-Bold.otf');
}
@font-face {
  font-family: "SofiaBlack";
  src: url('../public/fonts/Sofia-Pro-Black.otf');
}