html, body {
  margin: 0;
  padding: 0;
  font-family: Sofia;
  /* height: 100%; */
  /* background-color: blanchedalmond; */
}

p, h1, h2 {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "SG-Black25";
  src: url('../public/fonts/SharpGrotesk-Black25.otf');
}
@font-face {
  font-family: "SG-Black20";
  src: url('../public/fonts/SharpGrotesk-Black20.otf');
}

@font-face {
  font-family: "Sofia";
  src: url('../public/fonts/Sofia-Pro-Regular.otf');
}
@font-face {
  font-family: "SofiaBold";
  src: url('../public/fonts/Sofia-Pro-Bold.otf');
}
@font-face {
  font-family: "SofiaBlack";
  src: url('../public/fonts/Sofia-Pro-Black.otf');
}